html,
body {
  height: 100%;
  max-height: 100%;
}

body {
  font-size: 1.3em;
  font-family: "Roboto", sans-serif;
  line-height: 1.3em;
  color: #ebebeb;
  text-shadow: 1px 1px 2px #1b002c;

  /* http://subtlepatterns.com/bright-squares/*/
  background-image: url("../img/bright_squares.png");
  background-color: #a465bf;
}

::-moz-selection {
  color: #f0f0f0;
  background: #d24be3;
  text-shadow: none;
}

::selection {
  color: #f0f0f0;
  background: #d24be3;
  text-shadow: none;
}

.container {
  display: table;
  text-align: center;
  height: 100%;
  width: 100%;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin: 0 auto;
  max-width: 28em;
}

.glurrr {
  height: 208px;
  width:  256px;
  display: inline-block;
  background-image: url("../img/glurrr.png");
  transition: transform .2s ease;
}

.glurrr:active {
  transform:         scale(.85, .85);
  -webkit-transform: scale(.85, .85);
  -moz-transform:    scale(.85, .85);
  -ms-transform:     scale(.85, .85);
  -o-transform:      scale(.85, .85);
}
